/* background: #757575; */

/* background: #212121;  */

/*  #000000 */

/* background: #FFFFFF;  */

/*   #F5F4FA  */

/* background: #FFFFFF99; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --title: #ffffff;
}

body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.button-hero,
.button-project {
  cursor: pointer;
}

button {
  font-family: inherit;
}

.list {
  list-style: none;
}

.primary-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.secondary-logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.third-logo {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
}

.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}

.link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link-current:hover,
.link-current:focus {
  color: var(--accent-color);
}
.link-current {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
/* Hero */

.hero-title {
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
}
/*  Section  */

.section-item {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.14;
  text-transform: uppercase;
}
.button-project {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.button-project:hover,
.button-project:focus {
  color: var(--title);
  background-color: var(--accent-color);
}

.title-item {
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.title-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* Button  */

.button-hero:hover {
  color: #ffffff;
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.list-button > button:hover {
  color: #ffffff;
}

.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.section-person {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.text-person {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

/* Footer */

.address {
  color: var(--title);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.secondary-link {
  color: #ffffff99;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.secondary-link:hover,
.secondary-link:focus {
  color: var(--accent-color);
}
